<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console">
            <PatternLayout pattern="%d{HH:mm:ss} %-5level %logger{36} - %msg%n"/>
        </Console>
        <File name="fout" fileName="loggerTimeTracker.html" append="false">
            <HTMLLayout>
            </HTMLLayout>
        </File>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="fout"/>
        </Root>
        <logger name="Milestone 1" level="debug"/> <!-- level="off" to deactivate-->
        <logger name="Milestone 2" level="debug"/> <!-- level="off" to deactivate-->
    </Loggers>
</Configuration>